.react-datepicker {
  display: flex;
  height: 35.4rem;
  border: none;
  padding: 3.2rem;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.react-datepicker * {
  box-sizing: border-box;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: auto;
  height: auto;
}

.react-datepicker-popper {
  z-index: 15;
}

.react-datepicker-popper[data-placement^='bottom'] {
  padding-top: 0;
}

.react-datepicker__month {
  width: 47rem;
  margin: 0;
}

.react-datepicker__month-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-datepicker__time-container {
  margin-left: 3.2rem;
}

.react-datepicker-time__header {
  font-size: 1.6rem;
  color: rgba(24, 32, 97, 1);
}

.react-datepicker__time-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: rgba(24, 32, 97, 1);
}

.react-datepicker__time-list-item--selected {
  background-color: rgba(24, 32, 97, 1) !important;
}

.react-datepicker__header {
  background: none;
  border: none;
}

.react-datepicker__day-names {
  margin: 2.4rem 0 1.8rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 400;
}

.react-datepicker__month {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day {
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.84rem;
  color: rgba(24, 32, 97, 1);
  z-index: 2;
}

.react-datepicker__day:hover {
  color: white;
  background: none;
  z-index: 2;
}

.react-datepicker__day:hover::after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(24, 32, 97, 0.8);
  border-radius: 32px;
  z-index: -1;
}

.react-datepicker__day--disabled {
  color: rgba(196, 196, 196, 1);
}

.react-datepicker__day--disabled:hover {
  color: rgba(196, 196, 196, 1);
}
.react-datepicker__day--disabled:hover::after {
  display: none;
}

.react-datepicker__day--selected {
  color: rgba(255, 255, 255, 1);
  background: none;
}

.react-datepicker__day--selected::after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(24, 32, 97, 1);
  border-radius: 32px;
  z-index: -1;
}

.react-datepicker__day--keyboard-selected {
  background: none;
}
