/* Arial */
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Arial Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

/* Noto Sans Korean */
@font-face {
  font-family: 'Noto Sans Korean';
  font-weight: 400;
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.woff2')
      format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.otf') format('truetype'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Regular.eot') format('eot');
  unicode-range: U+AC00- U+D7A3;
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-weight: 500;
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.otf') format('truetype'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Medium.eot') format('eot');
  unicode-range: U+AC00- U+D7A3;
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-weight: 700;
  src: url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.otf') format('truetype'),
    url('../assets/fonts/NotoSansKR/NotoSansKR-Bold.eot') format('eot');
  unicode-range: U+AC00- U+D7A3;
}
